streamlit
langchain==0.3.25
langchain-community==0.3.25
langchain-huggingface==0.1.0
langchain-chroma==0.1.4
langsmith==0.1.147
langgraph
groq
python-dotenv
sentence-transformers
chromadb==0.5.23
pandas
pypdf
